langchain
streamlit
faiss-cpu
langchain_google_genai
PyPDF2
langchain_openai 
langchain_core
python-dotenv
langchain_community
langserve
fastapi
uvicorn
sse_starlette
pypdf
groq
cassio
langchain-groq
langchainhub


# unstructured
# tiktoken
# pinecone-client
# pypdf
# openai
# pandas 
# numpy
# python-dotenv
# google-generativeai
# langchain-pinecone
# beautifulsoup4
# bs4
# wikipedia
# arxiv